# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Next.js build files
.next/
out/
build/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Local Storage / Backups
backend/storage/
.DS_Store
*.log
